.date {
  width: 100% !important;
}
.date input {
  background-color: var(--background-color);
  border: 2px solid #cacbd0;
}
.date input::placeholder {
  color: var(--text-light);
}

/* .label {
  color: var(--text-color);
} */
